/**
scrollable div
 */
div.scrollableX {
    overflow-x: scroll;
    z-index: 1;
}

/**
overlaid div
 */
div.overlaid {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

/**
enables linebreaks within words
 */
.wordBreak {
    white-space: pre-wrap;
}

/**
properties of drag lines (lines to change height of transitions
 */
line.dragLine {
    stroke: lightgray;
    stroke-width: 3px;
    cursor: row-resize;
}

/**
changes cursor of clickable elements
 */
.clickable:hover {
    cursor: pointer;
}

/**
properties of an inactive pane
 */
.pane-inactive {
    border-right: 1px solid #f0f0f0;
}

/**
properties of an active (dragged) pane
 */
.pane-active{
    background-color: rgba(150,150,150,0.1);
}

/**
big spinning study loader
 */
.bigLoader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    position: absolute;
    top: 50%;
    left: 50%;

    margin: -60px 0 0 -60px;
    animation: spin 2s linear infinite;
}

/**
small spinning study loader
 */
.smallLoader {
    margin: 20px auto 0;
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.fullSizeModal{
    min-width: 95VW;
    height: 90VH;
}


