


.rowOperators {
    vertical-align: top;
    text-align: left;
    display: inline-block;
}
.view {
    width: 900px;
    overflow-x: scroll;
    overflow-y: hidden;
    display: inline-block;
}
.legend {
    vertical-align: top;
     text-align: left;
    display: inline-block;
}
.customTooltip{
    background: white;
    opacity: 0.9;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid black;
    pointer-events: none;
}


.heatmapContainer {
    white-space: nowrap;

}

.clickable:hover {
    cursor: pointer;
}

.hidden{
    display: none;
}

.btn{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.defaultView{
    position: absolute;
    left: 50%;
    margin-top: 20%;
    margin-left: -100px;
    width: 300px;
    height: 100px;
}
.noStyle {
    background: none;
    color: inherit;
    border: none;
    padding: 2px;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    margin-left: 5px;
    margin-right: 2px;
}
.currentVariable{
    background-color:#efefef;
    border: 1px solid darkgray;
    border-radius: 2px;
    margin-left:2px;
    padding: 2px;
    font-size: 10px;
}
#sidebar{
    height: 100%;
}

