body {
    background-color: #2c313b;

    font-family: 'Roboto', sans-serif !important;
}

h3 {
    color: #3f5175;
    padding-left: 20px;
    padding-top: 20px;
    opacity: .8;
    font-weight: 400;
    font-size: 20px;
}

.menu {
    width: 500px;
    text-align: left;
}

.top {
    margin-bottom: 10px;
    background-color: white;
    border-radius: 4px;
    height: 300px;
    box-shadow: 1px 1px 1px 0px rgba(37, 41, 51, 1);
}
.middle {
    margin-bottom: 10px;
    background-color: white;
    border-radius: 4px;
    height: 400px;
    box-shadow: 1px 1px 1px 0px rgba(37, 41, 51, 1);
}
.timeline{
    margin-bottom: 10px;
    background-color: white;
    border-radius: 4px;
    height: 430px;
    box-shadow: 1px 1px 1px 0px rgba(37, 41, 51, 1);
}
.summary {
    margin-bottom: 10px;
    background-color: white;
    border-radius: 4px;
    height: 200px;
    box-shadow: 1px 1px 1px 0px rgba(37, 41, 51, 1);
}

.bottom-left {
    background-color: white;
    border-radius: 4px;
    height: 400px;
    box-shadow: 1px 1px 1px 0px rgba(37, 41, 51, 1);
}

.bottom-right {
    background-color: white;
    border-radius: 4px;
    height: 400px;

    box-shadow: 1px 1px 1px 0px rgba(37, 41, 51, 1);
}

.shadow {
    -webkit-filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, .3));
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, .3));
}

.pad {
    padding: 20px;
}

.browser-legend {
    font-size: 14px;
    opacity: .8;
}

.bottom-left-svg {
    padding-top: 40px;
    text-align: center;
}

.bottom-right-svg {
    text-align: center;
}

.line {
    fill: none;
    stroke: #7dc7f4;
    stroke-width: 5px;

}

.axis {
    fill: #bbc7d9;
    opacity: 1;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

.grid path,
.grid line {
    fill: none;
    stroke: #3f5175;
    pointer-events: none;
}

.grid .tick {
    stroke: #3f5175;
    opacity: 1;
}

.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 3px;
}

.node text {
    font: 12px sans-serif;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}

.default-svg {

}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: middle;
    overflow: hidden;
}

.svg-content {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

.fontSize {
    font-size: .8em;
    height: auto;
    text-align: center;
}

.page-header {
    height: 35px;
    text-align: center;
}

.page-h4 {
    line-height: 35px;
    color: rgb(125, 199, 244);

}

.customToolTip {
    position: absolute;
    background-color: white;
    font-size: 80%;
    pointer-events: none;
    padding: 5px;
    border: solid black;
    color: black
}


.heatmap{
     margin-bottom: 10px;
    background-color: white;
    border-radius: 4px;
    height: 800px;
    box-shadow: 1px 1px 1px 0px rgba(37, 41, 51, 1);
}

.btn-group button {
    background-color: #4CAF50; /* Green background */
    border: 1px solid green; /* Green border */
    color: white; /* White text */
    font-size: 8px;
    padding: 5px 5px; /* Some padding */
    width:100%;
    cursor: pointer; /* Pointer/hand icon */
    display: block; /* Make the buttons appear below each other */
}

.btn-group button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
    background-color: #3e8e41;
}