
.scrollableX {
    overflow-x: scroll;
    z-index: 1;
}

.overlaid {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

.floatDiv {
    float: right;
}

.wordBreak {
    word-break: break-all;

}

.customTooltip {
    pointer-events: none;
    z-index: 100;
}

.clickable:hover {
    cursor: pointer;
}

.hidden {
    display: none;
}

.defaultView {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -50px;
    margin-left: -100px;
    width: 300px;
    height: 100px;
}

.noStyle {
    background: none;
    color: inherit;
    border: none;
    padding: 2px;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    margin-left: 5px;
    margin-right: 2px;
}

.currentVariable {
    background-color: #efefef;
    border: 1px solid darkgray;
    border-radius: 2px;
    margin-left: 2px;
    padding: 2px;
    font-size: 10px;
}

.btn {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sidebar {
    display: inline-block;
    width: 15%;
    margin-left: 0;
    padding: 0;
    background-color: #efefef;
    white-space: nowrap;
}

.main {
    display: inline-block;
    white-space: nowrap;
}

.helperAxis {
    float: left;
    white-space: nowrap;

}

.noSizeChange {
    display: inline-block;
    white-space: nowrap;

}
.Select-input {
  position: absolute !important;
  top: 0 !important;
}

.Select-value-label {
  display: block !important;
}

.Select-value {
  position: relative !important;
}

.Select-menu-outer {
  width: auto;
  min-width: 100%;
}

.Select-option {
  white-space: nowrap;
}

.Select-control {
  min-width: 100%;
  width: auto;
}


